.venv/
.idea/
__pycache__/
.pytest_cache/
*.pyc
SampleFramework/reports/
assets/
PytestDemo/
SampleFramework/.env
ChildClass.py
ParentClass.py
demo.txt
excel.py
FirstDemo.py
sample.py
sample2.py
test_main.py
reports/